/* Style général de la page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* Image de fond en filigrane */
body::before {
  content: "";
  position: fixed;
  inset: 0;                  
  background-image: url("images/fond.jpg");
  background-size: 40%;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;        
}

/* Conteneur principal de la page */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  background-color: rgba(239, 240, 240, 0.883); 
}

/* En-tête du dashboard */
.header{
  background: white;
  padding: 18px;
  border-radius: 14px;
  text-align: center;
  margin-bottom: 14px;
}

/* Cartes contenant les graphiques */
.card{
  background: white;
  padding: 14px;
  border-radius: 14px;
  margin: 14px 0;
}

/* Grille pour afficher deux graphiques côte à côte */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* Titres de la page */
h1, h3{
  text-align: center;
}

/* Texte des définitions et sources */
.small-text{
  font-size: 12px;
  color: #444;
  text-align: center;
  margin-top: 8px;
}

/* Affichage sur téléphones */
@media (max-width: 900px){
  .grid{
    grid-template-columns: 1fr;
  }
}

/* Style des onglets */
.tab {
  padding: 10px !important;
  font-weight: bold;
}
